body, html {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
span {
    font-weight: 600;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

#progress {
    display: flex;
    justify-content: center;
    align-items: center;

}

#switches {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

@media (max-width: 568px) and (orientation: landscape) {
    #root {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #progress {
        justify-content: flex-end;
    }

    #switches {
        justify-content: center;
        align-items: flex-start;
    }
}