.toggle {
    display: flex;
    align-items: center;
}

.slider {
    width: 2rem;
    height: 1.25rem;
    background-color: var(--grey);
    border-radius: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
}

.slider::before {
    content: '';
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    width: 1rem;
    height: 1rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    transition: 0.2s;
}

input[type='checkbox'] {
    display: none;
}
input[type='checkbox']:checked + .slider {
    background-color: var(--blue);
}
input[type='checkbox']:checked + .slider::before {
    left: 0.9rem;
}
